<h1>プロフィール</h1>
<p>
  <% if @user.avatar.attached? %>
    <div style:"width: 400px; height:auto">
    <%= image_tag(@user.avatar, style: 'width:30%')  %>
    </div>
  <% end %>
</p>

<h3>名前</h3>
<%= @user.name %>
<h3>年齢</h3>
<%= @user.age %>
<br>
<h3>メールアドレス</h3>
<%= @user.email %>
<p><%= link_to "Edit", edit_user_registration_path %></p> 